<html>
  <head>
    <title>Szukanie nieruchomości</title>
    <%= csrf_meta_tag %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

  </head>
    <body>
    <% if ["public", "device"].include?(controller.controller_name)  %>
    <header>
      <%= render 'layouts/nav/public'%>
      <%= yield %>
    </header>
    <% else %>
      <%= render 'layouts/nav/dashboard' %>
      <div class="container">
        <div class="row">
          <%= render 'layouts/nav/sidebar' %>
          <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <%= yield %>
          </main>
        </div>
      </div>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    </body>
</html>